<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>
<body>
    <div class="body">
        <h1>{{title}}</h1>
        <div>
            <p>Enter the city name to get weather!</p>
            <form><input type="search" placeholder="Enter the location"> <button>search</button></form>
        </div>

              <div class="content">
            <p class="error"></p>
            <h3 class="loading"></h3>
            <h3 class="city"></h3>
            <h3 class="forecast"></h3>
        </div>
       
    </div>
</body>
<script src="/app.js"></script>
</html>
